@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

:root {
  --primary: #4ddad7;
  --on-primary: #003736;
  --primary-container: #00504e;
  --on-primary-container: #6ff7f4;
  --secondary: #b0ccca;
  --on-secondary: #1b3534;
  --secondary-container: #324b4a;
  --on-secondary-container: #cce8e6;
  --tertiary: #b2c8e8;
  --on-tertiary: #1b324b;
  --tertiary-container: #324863;
  --on-tertiary-container: #d2e4ff;
  --error: #ffb4ab;
  --error-container: #93000a;
  --on-error: #690005;
  --on-error-container: #ffdad6;
  --background: #191c1c;
  --on-background: #e0e3e2;
  --surface: #191c1c;
  --on-surface: #e0e3e2;
  --surface-variant: #3f4948;
  --on-surface-variant: #bec9c7;
  --outline: #889392;
  --inverse-on-surface: #191c1c;
  --inverse-surface: #e0e3e2;
  --inverse-primary: #006a68;
  --shadow: #000000;
  --surface-tint: #4ddad7;
  --outline-variant: #3f4948;
  --scrim: #000000;
}

body {
    background-color: var(--background);
    color: var(--on-background);
    font-size:1em;
    line-height:1.5em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
 
#page-content-wrapper {
    margin: 0 auto;
    max-width: 1080px;
}

.masthead, #masthead, .help-page-header, h1 {
	color: var(--on-background);
	display: block;
	font-size: 2em;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	line-height: 2em;
  padding-top: 0.5em;
	text-align: center;
	width: 100%;
}

.home-container {
	border-left-color: #ccc; border-left-style: solid; border-left-width: 1px; border-right-color: #ccc; border-right-style: solid; border-right-width: 1px; border-bottom-color: #ccc; border-bottom-width: 1px; border-bottom-style: solid; border-top-color: #ccc; border-top-style: solid; border-top-width: 1px; font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif; margin-bottom: 18px; margin-top: 18px; padding-bottom: 16px; padding-left: 0; padding-right: 0; width: 100%;
}

.page-header {
	font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-top: 20px;
}

.container-fluid {
  padding: 0;
  background-color: var(--primary-container);
}

#site-title {
  padding: 20px 0 0 20px;
}

#help-pages {
  background-color: transparent;
}

.navbar {
  background-color: var(--primary-container);
  width: 100%;
  padding: 0;
}

.navbar p {
  padding-left: 20px;
}

.navbar * {
   color: var(--on-surface);
}
 
.navbar .container-fluid {
  height: 100%;
  margin: auto;
}

.navbar .container-fluid .navbar-brand {
  padding-left: 20px;
}

.navbar-brand {
  color: var(--on-surface);
  font-size: 25px;
}

.navbar-brand:hover {
  color: rgba(0, 0, 0, 0.7);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

a.nav-link {
  padding-left: 20px;
}

.breadcrumb {
  color: ;
}

.card {
  background-color: var(--secondary-container);
}

.card-title a {
  color: var(--on-secondary-container);
}

.card-title a:hover {
  color: rgba(0, 0, 0, 0.7);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.card-text {
  color: var(--on-secondary-container);
}

.software-name, .software-versions, .software-notes{
  border-left: solid 2px;
  border-right: solid 2px;
  border-bottom: solid 2px;
  text-align: center;
}

.category {
  border: solid 2px;
}

.categoryname {
  padding-bottom: 0px;
}

.muted:hover{
  text-decoration:none;
}

h2 {
  margin: 2em 0em;
  color: var(--on-background);
  font-size: 2em;
}

h3 {
  margin: 1.62em 0em;
  color: var(--on-background);
  font-size: 1.62em;
}

h4 {
  margin: 1.5em 0em;
  color: var(--on-background);
  font-size: 1em;
}

details {
  margin: 0px 0px 35px 55px;
}

summary {
  margin-left:-20px;
  margin-bottom: 2em;
}

#query {
  background-color: var(--background);
  border-color: var(--outline);
  color: var(--on-background);
}

img {
  margin:1.5em auto;
  max-width:85%;
  display:block;
}

.inline {
  display:inline;
  margin:0px;
  width:auto;
}

p {
  margin: 1.5em 0em;
}

/*
ul ol {
  margin-left: 40px;
}
*/

code {
  font-size:1em;
  line-height:1.5em;
}

.main-content {
  width: 75%;
  margin: auto;
}

.main-content table {
    color: var(--on-background);
    background: var(--background);
    border: 1px solid var(--outline);
    font-size: 12pt;
    border-collapse: collapse;
}

.main-content thead th,
.main-content tfoot th {
    color: #777;
    background: rgba(0,0,0,.1);
}
.main-content th,
.main-content td {
    padding: .5em;
    border: 1px solid var(--outline);
}

a {
  text-decoration: none;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer > div {
  max-width: none !important;
  width: 100%;
  margin: 0 !important;
  background-color: var(--primary-container);
}